<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
<script>

</script>
<body>
<h2>用户登录</h2>
<div>

            <a
                    href="http://www.v5.cn:8050/oauth2-server/oauth/authorize?client_id=wechat_client_id&redirect_uri=http://www.newbee.cn:8052/oauth2-client/thirdLogin/WeChat&response_type=code&scope=read"
                    target="_self">微信授权登录</a>
</div>
</body>
</html>
