<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
<script>
    var authorizeUrl = "http://www.v5.cn:8080/spring-oauth-server/oauth/authorize";
    var loginUrl = "http://www.newbee.cn:8052/client/thirdLogin";
    var redirectUrlEncode = encodeURI(loginUrl);
    var clientId = "unity-client";
    var url = authorizeUrl + "?client_id=" + clientId + "&redirect_uri=" + redirectUrlEncode + "&response_type=code&scope=read";
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function authrizeSuccessLogin(code) {
        var loginData = {
            code: code
        }
        $.ajax({
            type: "POST",
            url: loginUrl,
            dataType: 'json',
            data: JSON.stringify(loginData),
            success: function (data) {
                console.log(data);
            }
        });
    }

    function loadData() {
        var code = getQueryString("code");
        //有code值，则提交给当前网站后台的登录接口
        if (code) {
            authrizeSuccessLogin(code);
        } else {
            console.log("no code!");
        }
    }
</script>
<body onload="loadData()">
<h2>用户列表</h2>
<div>
    <form th:action="@{/login}" method="post">
        <div>
            <!--/*@thymesVar id="error" type=""*/-->
            <span id="basic-addon0">&nbsp;</span>
            <span style="font-size: 12px;color: red" th:text="${error}" aria-describedby="basic-addon0"></span>
            <br/>
        </div>
        <div>
            <span id="basic-addon1">@</span>
            <input id="user_name" name="userName" type="text" placeholder="用户名" aria-describedby="basic-addon1"/>
        </div>
        <br/>
        <div>
            <span id="basic-addon2">@</span>
            <input id="password" name="password" type="password" placeholder="密码" aria-describedby="basic-addon2"/>
        </div>
        <br/>
        <button type="submit" style="width:190px;">登 录</button>
        <a
                href="http://www.v5.cn:8050/oauth2-server/oauth/authorize?client_id=unity-client&redirect_uri=http://www.newbee.cn:8051/oauth2-resouce/thirdLogin&response_type=code&scope=read"
           target="_self" name="QQ授权">QQ授权啊</a>
        <button type="submit" onclick="authrize()" style="width:190px;">QQ授权登录</button>
    </form>
</div>
</body>
</html>
